Body{
background-color:#8fbbbc;
}
menu {
    display: block;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 300px;
    padding: 10px;
	position: sticky;
    left: 0px;	
	font-family:'Cormorant Garamond', serif;
}

li {
	list-style-type: none;
	font-family:'Playfair Display', serif;
}
h1{
	font-family: 'Abril Fatface', cursive;
}

h2{
font-family: 'Playfair Display', serif;
}

h3{
font-family: 'Playfair Display', serif;
}

p{
font-family: 'Playfair Display', serif;
}
l {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 10px 10px 20px 10px;
    width: 100%;
    background: 	#808080;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
	
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: 		#808080;
    color: white !important
}

/* When the input field gets focus, change its width to 100% */


body {
    margin: 15px;
    margin-bottom: 0;
    padding: 0;
}

div.box {
    padding: 15px;
    border: 2px solid;
    margin: 0 15px 15px 0;
}

#header div.box, #col3 div.box, #footer div.box {
    margin-right: 0;
	text-align: center;
}
#col1 {
    width: 33%;
    float: left;
}

#col2 {
    margin-left: 33%;
    margin-right: 33%;
	padding: 15px;
	float: none;
   
	
}

#col3 {
    width: 33%;
    float: right;
}

#footer {
    clear: both;
}
 background-image{
	 width:100%
	 {
div {
    display: block;
}
